<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<script type="text/javascript"></script>
</head>
<body>
    <th:block th:insert="fragments/header.html :: header('')" /> 
    <br>
    <div class="container-fluid text-center">
        <h1>welcome to your online store</h1>
                    <a href="/products">View products</a>
                    <a href="products/create">Create new product</a>
    </div>
</body>
</html>
